html,
body {
  height: 100%;
  width: 100%;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.main {
    width: 100%;
}


.header h1 {
    color: white;
    background-color: rgb(38, 119, 92);
    margin: 0;
    padding: 20px 14px;
    text-align: center;
}

.aside {
    width: 200px;
    max-height: 450px;
}

.aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(38, 119, 92);
}

.aside li {
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    outline: none;
    display: block;
}

.aside ul li:hover {
    background-color: rgb(71, 250, 187);
    color: rgb(0, 0, 0);
    padding-left: 30px;
    transition: 0.7s;
}


footer {
    text-align: center;
    align-content: center;
    font-style: italic;
}
