<div class="div-form">
    <form class="form" [formGroup]="livroForm">
        <label>
            Título: <input type="text" maxlength="120" placeholder="Título" formControlName="titulo">
        </label>
            <label>
                Autor: <input type="text" maxlength="120" placeholder="Autor" formControlName="autor">
            </label>
                <label>
                    Isbn: <input type="text" maxlength="13" size="20" class="isbn" placeholder="Exemplo: 9788533302273" formControlName="isbn">
                </label>
                   <br><button class="btn-cancel" (click)="Cancel()">Cancelar</button>
                   <button class="btn-save" (click)="Save(livroForm.value)">Salvar</button>
        <!-- <label>
            Categoria:
            <select>
                <option>
                    teste
                </option>
            </select>
        </label> -->

    </form>
</div>