* {
    margin: 0;
    padding: 0;  
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
    height: 500vh;
}

.btn-div {
    text-align: center;
}

header {
    padding: 20px 0px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.main {
   width: 450px;
   margin: auto;
   border: 5px solid black; 
   border-radius: 10px;
   padding: 10px;
}

input {
    margin: 10px;
    padding: 2px;
    outline: none;
    border: initial;
    border: 1px solid black;
    border-radius: 1px;
}

.calcular {
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    border: initial;
    color: white;
    background-color: rgb(240, 36, 36);
}

.limpar {
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
    border: initial;
    border-radius: 4px;
    color: white;
    background-color: rgb(48, 124, 29);
}

.resultado {
    text-align: justify;
}

.btn-open-modal {
    padding: 4px 10px;
    cursor: pointer;
    outline: none;
    border: initial;
    border-radius: 4px;
    color: white;
    background-color: rgb(83, 109, 255);
    margin: auto;
}
